<% for(var i = 0; i < dataFirstQuery.length; i++) { %>
<section>
	<h2>We zijn in jaartal <%- dataFirstQuery[i].year %> </h2>
	<form class="data" action="" method="post">
		<% for(var j = 0; j < dataFirstQuery[i].chapters.length; j++) { %>
		<div class="image">
			<label>
				<div>
					<input id="checkBox" type="checkbox">
					<section></section>
					<img src="<%- dataFirstQuery[i].chapters[j].img.value %>" alt="<%- dataFirstQuery[i].chapters[j].title.value %>"/>
					<p><%- dataFirstQuery[i].chapters[j].title.value %></p>
				</div>
				<a class="openDetail" href=""><img src="/images/zoom-in.png" alt="zoom-in icon"/></a>
				<div class="detail">
					<span class="helper"></span>
					<div>
						<div class="popupCloseButton">X</div>
						<img src="<%- dataFirstQuery[i].chapters[j].img.value %>" alt="<%- dataFirstQuery[i].chapters[j].title.value %>"/>
						<p><%- dataFirstQuery[i].chapters[j].title.value %></p>
					</div>
				</div>
			</label>
		</div>
		<% } %>
	<button type="submit">Bewaar deze items</button>
	</form>
</section>
<% } %>
