<%- include('partials/head.ejs') %>
	<body class="my-story">

		<% var years = Object.keys(selection); %>
		<nav class="register">
			<a href=""><img src="/images/left-arrow.svg"/></a>
			<ol class="register-years">
				<% years.forEach(function (year) { %>
					<% var chapters = Object.keys(selection[year]); %>
					<li>
						<a href="#<%- year %>-<%- chapters[0].replace(/\s/g,'').toLowerCase() %>"><%= year %></a>
						<ul class="register-chapters">
							<% chapters.forEach(function (chapter) { %>
								<% if (chapter != 'Jouw buurt') { %>
									<% chapter = 'Jouw straat'; %>
								<% } %>
								<li><a href="#<%- year %>-<%- chapter.replace(/\s/g,'').toLowerCase() %>"><%= chapter %></a></li>
							<% }); %>
							<li><button class="add-chapter-btn" type="button">+</button></li>
						</ul>
					</li>
				<% }); %>
			</ol>
		</nav>

		<main class="content">
			<% years.forEach(function (year) { %>
				<% var chapters = Object.keys(selection[year]); %>
				<% chapters.forEach(function (chapter) { %>
					<% if (chapter != 'Jouw buurt') { %>
						<% var streetName = chapter; %>
						<% chapter = 'Jouw straat'; %>
					<% } %>
					<%- include('partials/chapter.ejs', {
						selection: selection,
						year: year,
						chapter: chapter,
						streetName: streetName
					}) %>
				<% }); %>
			<% }); %>
		</main>

		<script type="text/javascript">
			var links = document.querySelectorAll('.register-years > li > a');

			links.forEach(function (link, i, self) {
				self[0].nextElementSibling.classList.add('show-chapter');
				link.addEventListener('click', function () {
					var current = document.querySelector('.register-chapters.show-chapter');
					current.classList.remove('show-chapter');
					this.nextElementSibling.classList.add('show-chapter');
				});
			});
		</script>
		<script>
			//open detail page image
			var trigger = document.querySelectorAll('.openDetail');
			var detailpopup = document.querySelectorAll('.detail');
			var closeButton = document.querySelectorAll('.popupCloseButton');

			for(var i = 0; i < trigger.length; i++) {
				trigger[i].addEventListener('click', function(e){
					e.preventDefault();
					e.path[3].childNodes[3].classList.add('show');
				});

				detailpopup[i].addEventListener('click', function(e){
					e.preventDefault();
					e.target.parentElement.classList.remove('show')
				});

				closeButton[i].addEventListener('click', function(e){
					e.preventDefault();
					e.target.parentElement.parentElement.classList.remove('show')
				});
			}
		</script>
		<script>
			var years = document.querySelectorAll('.my-story nav .register-years > li')
			var countYears = years.length;

			years.forEach(function(year){
				var perc = 100/countYears;
				year.style.height = perc + '%';

				var chapters = year.childNodes[3].children;
				console.log(chapters)
				var countChapters = chapters.length

				for(var i = 0; i < chapters.length; i++) {
					var perc = 'calc(100% / ' + countChapters + ')';
					console.log(perc)
					chapters[i].style.width = perc;
				}
			});
		</script>

<%- include('partials/foot.ejs') %>
