<%- include('partials/head.ejs') %>
	<body class="my-story">

		<% var years = Object.keys(selection); %>
		<nav class="register">
			<ol class="register-years">
				<% years.forEach(function (year) { %>
					<% var chapters = Object.keys(selection[year]); %>
					<li>
						<a href="#<%- year %>-<%- chapters[0].replace(/\s/g,'').toLowerCase() %>"><%= year %></a>
						<ul class="register-chapters">
							<% chapters.forEach(function (chapter) { %>
								<% if (chapter != 'Jouw buurt') { %>
									<% chapter = 'Jouw straat'; %>
								<% } %>
								<li><a href="#<%- year %>-<%- chapter.replace(/\s/g,'').toLowerCase() %>"><%= chapter %></a></li>
							<% }); %>
							<li><button type="button">+</button></li>
						</ul>
					</li>
				<% }); %>
			</ol>
		</nav>

		<main class="content">
			<% years.forEach(function (year) { %>
				<% var chapters = Object.keys(selection[year]); %>
				<% chapters.forEach(function (chapter) { %>
					<% if (chapter != 'Jouw buurt') { %>
						<% var streetName = chapter; %>
						<% chapter = 'Jouw straat'; %>
					<% } %>
					<%- include('partials/chapter.ejs', {
						selection: selection,
						year: year,
						chapter: chapter,
						streetName: streetName
					}) %>
				<% }); %>
			<% }); %>
		</main>

		<script type="text/javascript">

			var register = document.querySelector('.register');
			var registerYears = document.querySelector('.register-years');

			// Show only the list of chapters for the first year:
			registerYears.children[0].children[1].classList.add('show');

		</script>
<%- include('partials/foot.ejs') %>
